
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=The+Nautigal:wght@700&display=swap');

body{
    margin: 0px 0px ;
    background-image: url('bgimg1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
}
.container{
    display: inline;
}
.box{
    background-color: rgb(0,0,0,0.8);
    align-items: center;
    display:inline-flex ;
    height: 100%;
}
#image{
    width: 280px;
    height: 350px;
    border: 2px solid white;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 50px;
z-index: 4;
}
image:hover{
    cursor:pointer;
}

b{
    font-family: unset;
    font-size: 70px;
    font-weight: bolder;
}
strong{
    font-size: 35px;
    font-style: underline;
}

p{
    margin-top: 5px;
    font-family: 'Luxurious Roman', cursive;
    color: white;
    text-align: center;
    font-size: 26px;
    padding: 41px 74px 48px 98px;
       z-index: 4;
}

b:hover{
    cursor: pointer;
    color:brown;
}

footer{
    position: relative;
    background-color: black;
    display: inline-flex;
    align-items: center;
    align-content: center;
    color: whitesmoke;
    font-size: large;
    padding-left: 30px;
margin-bottom: 0px;
padding-bottom: 5px;
}


.social {
    justify-content: right;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 30px;
    padding-left: 567px;
    z-index: 10;
    display: flex;
    align-items: center;
  }
  .social li {

    list-style: none;
  }
  .social li a {
    display: inline-block;
    margin-right: 20px;
    transition: 0.5s;
  }
  .github a img{
    width: 47px;
  }
  
  .facebook img:hover{
      cursor: pointer;
  }
  .linkedin img:hover{
      cursor: pointer;
      
  }
  .insta img:hover{
      cursor: pointer;
      
  }
  .github img:hover{
      cursor: pointer;
  
  }
  
